<div class="jumbotron">
  <h1>angularjs插件</h1>
  <hr/>
  <h4>moment.js(事件处理插件)</h4>
  <app-moment></app-moment>
  <hr/>
  <hr/>
  <h4>bootstrap4.0</h4>
  <div>
    安装jquery：yarn add jquery
    安装boostrap:yarn add bootstrap
    引入jquery与bootstrap:在根目录下的angular.json文件的
    <div>
      <p>"styles": [</p>
      <p> "./node_modules/bootstrap/dist/css/bootstrap.min.css"</p>
      <p> ],</p>
      <p>"scripts": [</p>
      <p>"./node_modules/jquery/dist/jquery.min.js",</p>
      <p>"./node_modules/bootstrap/dist/js/bootstrap.min.js"</p>
      <p>]</p>
    </div>
  </div>
  <hr/>
  <h4>引入富文本编辑器</h4>
  <div>
      在editor文件目录下的/model/editor-config进行图片上传的文件配置
      <p style="color:red">uploadCallbackURL这个属性的的值的IP地址与你项目的ip要一直，默认情况下启动项目用的是localhot,在这里要换成127.0.0.1</p>
      在项目中存在一个错误就是节点的获取错误
  </div>
  <div>
    <app-editor></app-editor>
  </div>
  <hr/>
  <h4>JQuery</h4>
  <div>
    <button id="jquery_button">提交</button>
    <div>
      {{content}}
    </div>
  </div>
  <hr/>
  <h4>Bootstrap</h4>
  <div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      显示模态框
    </button>
    <div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <h4>Cookie的使用</h4>
  <div>
    <p>这是使用的cookie是"ngx-cookie": "^4.0.2",</p>
    <div>
        cookie在控制台可以查看
    </div>
  </div>
  <hr/>
  <h4>localStorage的使用</h4>
  <div>
    <div>
      localStorage在控制台可以查看
    </div>
  </div>
</div>
